* {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}
html,
body {
  height: 100vh;
  background: #f0f0f0;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

/* header---------------------------- */
#header {
  width: 100vw;
  height: 56px;
  /* border: 1px solid #333; */
  background: #fff;

  position: fixed;
  z-index: 1;
}
#header #container {
  height: 56px;
  padding: 0 16px;
}
#header .menuLeft {
  width: 20%;
  height: 100%;
  /* border: 1px solid #333; */
  display: block;
  float: left;
  position: relative;
}
#header .menuMiddle {
  width: 40%;
  height: 100%;
  /* border: 1px solid #333; */
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#header .menuRight {
  width: 20%;
  height: 100%;
  /* border: 1px solid #333; */
  display: block;
  float: right;
  position: relative;
}
.square {
  width: 40px;
  height: 40px;
  /* border: 1px solid #eee; */
  text-align: center;
  line-height: 40px;
}
.hamburger {
  position: absolute;
  /* left: 10%; */
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}
.logo {
  height: 20px;
  /* border: 1px solid #333; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 58px;
}

.logo img {
  width: auto;
  height: 20px;
}

.logo span {
  position: absolute;
  bottom: 10px;
  left: 90px;
  font-weight: 300;
  font-size: 0.5rem;
  letter-spacing: -1px;
}
.search {
  width: 84%;
  height: 32px;
  border: 1.4px solid #bbb;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}
#search {
  width: 89%;
  height: 32px;
  position: absolute;
  border: 0;
}
.btnSearch {
  width: 70px;
  height: 32px;
  border: 1px solid #bbb;
  background: #eee;

  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);

  text-align: center;
  line-height: 32px;
}
.voice {
  position: absolute;
  right: 42px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #555;
}
.application {
  position: absolute;
  right: 42%;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}
.setting {
  position: absolute;
  right: 30%;
  top: 50%;
  transform: translateY(-50%);
}
.signIn {
  height: 40px;
  padding: 0 12px;
  border: 1px solid #0080ff;
  color: #0080ff;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  line-height: 40px;
  font-weight: 300;
}
.signIn .fa-user-circle {
  font-size: 1.5rem;
}

/* sideMenu---------------------------- */

#sideMenu {
  width: 13%;
  height: 100%;
  /* border: 1px solid #333; */
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: auto;
}

#sideMenu .block {
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  /* border: 1px solid #d22 */
}
#sideMenu .blockspace {
  height: 36px;
}

#sideMenu ul li a {
  text-decoration: none;
  color: #666;
  font-size: 1rem;
  letter-spacing: 0.5px;
  display: block;
  height: 40px;
  line-height: 40px;
}

#sideMenu i {
  font-size: 1.2rem;
  padding-left: 28px;
  padding-right: 28px;
}

#sideMenu ul li a:hover {
  background: #ddd;
  color: #111;
  /* font-weight: 500; */
}

#sideMenu .block:nth-child(2) ul:nth-child(1) li:nth-child(1) {
  background: #eee;
  color: #111;
  /* font-weight: 500; */
}
#sideMenu .block:nth-child(2) ul:nth-child(1) li:nth-child(1) i {
  color: #f00;
}

.block .singInfo {
  margin: 0 33px;
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 10px 0;
  font-weight: 300;
  color: #666;
}
#sideMenu .signin i {
  padding: 0;
  padding-right: 2px;
}
.block .signin {
  border: 1px solid #0080ff;
  color: #0080ff;
  display: inline-block;
  padding: 7px 15px;
  margin-left: 32px;
  font-size: 0.9rem;
  font-weight: 300;
  cursor: pointer;
  margin-bottom: 8px;
}

.sideContainer .title {
  font-size: 0.8rem;
  color: #666;
  padding: 8px 24px;
}
#footer .block {
  margin: 1px 24px 0 24px;
  border-bottom: 0;
}
#footer .block a {
  text-decoration: none;
  color: #666;
  font-size: 0.7rem;
  letter-spacing: 1px;
  word-wrap: none;
}
#footer .block:nth-child(3) {
  font-size: 0.6rem;
  color: #999;
  margin-bottom: 16px;
}
/* content---------------------------- */
#content {
  width: 87%;
  height: 1200px;
  /* background: brown; */
  /* border: 2px solid sienna; */
  position: absolute;
  right: 0;
  top: 0;
}
#content section:nth-child(2) {
  padding: 0 90px;
  margin-top: 48px;
}
.row {
  width: 100%;
  font-size: 0;
  /* background: #ccc; */
}
.row .empty {
  width: 100%;
  height: 56px;
  /* border: 1px solid seagreen; */
}
.row .recordAd {
  width: 100%;
  height: 260px;
  position: relative;
  background-color: #fff;
}
.row .recordAd .sloganBg {
  width: 1280px;
  height: 260px;
  position: absolute;
  left: 43%;
  transform: translateX(-50%);
  background-image: url('../images/slogan-bg.jpeg');
  background-size: contain;
}
.recordAd .cross {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 1.5rem;
  color: #555;
}
.recordAd .slogan {
  width: 400px;
  height: 134px;
  position: absolute;
  top: 51px;
  left: 90px;
  font-size: 1.6rem;
  font-weight: 300;
}
.recordAd .slogan .sloganImg {
  width: 100%;
  height: 24px;
  /* border: 1px solid #22e; */
  background-image: url('../images/slogan-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 8px;
}

.recordAd .rec {
  color: #0080ff;
  border: 2px solid #0080ff;
  display: inline-block;
  padding: 12px 15px;
  position: absolute;
  left: 90px;
  top: 185px;
  cursor: pointer;
  font-size: 1rem;
}
.row .card {
  width: 25%;
  /* height: 300px; */
  /* background: #fff; */
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  padding: 0 8px 40px 8px;
}
.card .hdPic {
  width: 100%;
  height: 202px;
  /* border: 1px solid #333; */
}
.cardInfo {
  width: 100%;
}
.card .hdPic img {
  width: 100%;
  height: 100%;
}
.card .circlePic {
  width: 36px;
  height: 36px;
  margin: 12px 12px 0 0;
  display: inline-block;
}
.card .circlePic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.musicName {
  width: 275px;

  display: inline-block;
  padding-right: 24px;
  margin-top: 12px;
  margin-bottom: 4px;

  color: #333;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2rem;
}
.musicName a {
  text-decoration: none;
  color: #333;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2rem;
}
.musicInfo {
  display: inline-block;
  margin-left: 52px;
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: #999;
}
section:nth-child(2) .row:nth-child(3) {
  border-top: 4px solid #ccc;
  border-bottom: 4px solid #ccc;
  margin-bottom: 40px;
}

section:nth-child(2) .row:nth-child(5) {
  border-top: 4px solid #ccc;
  border-bottom: 4px solid #ccc;
  margin-bottom: 40px;
}

.row .hotTitle {
  width: 100%;
  margin: 24px 0 24px 8px;
  color: #222;
  font-size: 1.2rem;
  font-weight: 300;
}
